<tr>
    <th scope="row">{{skaters.id}}</th>
    <td>
        <div>{{skaters.foto}}</div>
    </td>
    <td>{{skaters.nombre}}</td>
    <td>{{skaters.anos_experiencia}}</td>
    <td>{{skaters.especialidad}}</td>
    <td class="text-success font-weight-bold">{{skaters.estado}}</td>
</tr>